/* ------- VARIABLES ------ */

$black: #323232;
$white: #ffffff;
$silver: #afafaf;
$alablaster: #fafafa;
$mercury: #e1e1e1;
$blue: #0095ff;
$blueHover: #0065ad;
$regularFont: AvenirNextRegular;
$boldFont: AvenirNextBold;
$demiBoldFont: AvenirNextDemiBold;
$desktopMargin: 180px;

/* ------- MIXINS ------ */
@mixin flex {
  display: flex;
}

@mixin flexAndWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin colorBlack {
  color: $black;
}

@mixin colorWhite {
  color: $white;
}

@mixin colorSilver {
  color: $silver;
}

@mixin maxWidth {
  width: 100%;
}

@mixin marginZero {
  margin: 0;
}

/* ------- FONTS ------ */

@font-face {
  font-family: AvenirNextRegular;
  src: url('../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: AvenirNextBold;
  src: url('../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: AvenirNextDemiBold;
  src: url('../Assets/Fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf');
}

/* ------- GLOBAL ------ */

* {
  overflow-x: hidden;
  @include colorBlack;
  font-family: $regularFont;
}

body {
  @include marginZero;
}

h1 {
  font-size: 36px;
  line-height: 44px;
  @include colorBlack;
  padding: 48px 0;
  font-family: $boldFont;
  @include marginZero;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-family: $boldFont;
  display: block;
  @include marginZero;
  padding: 48px 0 0 0;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-family: $demiBoldFont;
  padding-top: 40px;
  @include marginZero;
}

p {
  font-size: 14px;
  line-height: 22px;
  font-family: $regularFont;
}

h4,
li,
.nav__item > a {
  font-size: 14px;
  line-height: 20px;
  @include colorWhite;
  font-family: $regularFont;
}

h5 {
  font-size: 12px;
  line-height: 20px;
  font-family: $regularFont;
}

.h1_heroHeader {
  font-size: 60px;
  line-height: 68px;
  @include colorWhite;
  font-family: $boldFont;
}

/* ------- HEADER/NAV ------ */

header,
nav {
  height: 80px;
  @include maxWidth;
  background-color: $white;
}

nav {
  @include flex;
}

header nav ul {
  @include flex;
  list-style-type: none;
  margin: 0 $desktopMargin 0 $desktopMargin;
  align-items: center;
  padding: 0;
  overflow: hidden;
  justify-content: center;
}

.nav {
  &__item {
    display: flex;
  }

  &__logo {
    padding: 0;
  }

  &__profilePic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 24px;
  }

  &__search {
    height: 46px;
    width: 288px;
    padding: 0 0 0 16px;
    background-color: $alablaster;
    margin: 24px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @include maxWidth;
    @include flex;
    list-style-type: none;
    margin: 0 $desktopMargin 0 $desktopMargin;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }

  &__spacing {
    margin-right: 24px;
  }

  &__button {
    @include colorWhite;
    border-radius: 4px;
    background-color: $blue;
    text-align: center;
    border: 1px $blue solid;
    width: 100px;
    height: 48px;
    margin: 24px 24px 0 0;
  }
}

button:hover {
  background-color: $blueHover;
  border-color: $blueHover;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

/* ------- MAIN ------ */

.main {
  @include flex;
  justify-content: center;
  background-color: black;
  align-items: flex-end;

  &__videoImage {
    height: 540px;
    width: 944px;
    border: none;
    @include flex;
    align-items: center;
  }

  &__videoImageFull {
    height: 540px;
    width: 944px;
  }

  &__videoControls {
    height: 540px;
    width: 944px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__videoSlider {
    //width: 751px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    height: 22px;
    margin-bottom: 16px;
    padding: 5px 0;
  }

  &__videoBar {
    width: 85%;
    height: 2px;
    border-radius: 4px;
    margin: 10px;
    background: $black;
  }

  &__videoTime {
    color: $white;
    margin: 5px 0;
  }

  &__buttonRight {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    margin: 0 16px 16px 16px;
    height: 32px;
    width: auto;
  }

  progress::-webkit-progress-value {
    background-color: black;
  }

  progress::-webkit-progress-bar {
    background-color: black;
  }

  &__videoButton {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    margin: 16px;
    padding: 5px 14px;
  }

  &__videoButtonRight {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    padding: 5px 12px;
  }

  &__videoScrubber {
    margin: 0;
    width: 751px;
  }

  &__upload {
    background-color: $white;
    @include flex;
    @include flexAndWrap;
  }

  &__uploadDiv {
    margin: 0 180px;
    width: 100%;
    border-bottom: 1px $mercury solid;
  }

  &__uploadH1 {
    color: $black;
  }
}

/* ------- TO TOP BUTTON ------ */

#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: 1px $white solid;
  outline: none;
  background-color: $black;
  color: $white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#toTopButton:hover {
  background-color: $silver;
}

/* ------- MAIN CONTENT ------ */

.content {
  @include flex;
  margin-bottom: 48px;
  justify-content: center;

  &__main {
    padding: 0px $desktopMargin;
  }

  &__mainCenter {
    padding: 0 96px;
  }
}

.p__shortBio2 {
  padding: 32px 0 0 0;
}

/* ------- PICTURE GALLERY ------ */

.main__content {
  @include flex;
  @include flexAndWrap;
  justify-content: center;
}

.main__contentMainDiv {
  @include flexAndWrap;
}

/* ------- MISC/RESET ------ */

.color {
  &__white {
    @include colorWhite;
  }

  &__black {
    @include colorBlack;
  }

  &__silver {
    @include colorSilver;
  }
}

/* ------- COMMENT SECTION CLASSES ------ */

.commentContent {
  background-color: $white;
  @include flex;
  align-content: center;
  justify-content: center;

  &__button {
    @include colorWhite;
    border-radius: 4px;
    background-color: $blue;
    text-align: center;
    border: 1px $blue solid;
    width: 160px;
    height: 48px;
  }

  &__main {
    @include maxWidth;
    @include flexAndWrap;
  }

  &__section {
    margin-top: 8px;
    display: flex;
    align-items: center;
  }

  &__name {
    height: 46px;
    padding: 0 0 0 16px;
    background-color: $alablaster;
  }

  &__comment {
    height: 96px;
    padding: 16px 0 0 16px;
    background-color: $alablaster;
  }

  &__button {
    margin: 24px 0 24px 0;
    float: right;
  }

  &__pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
  }

  &__comments {
    padding: 0 276px;
  }

  &__delete {
    border-radius: 4px;
    border: 1px black solid;
    margin-top: 12px;
    background-color: $black;
    @include colorWhite;
    //float: right;
  }

  &__like {
    border-radius: 4px;
    border: 1px black solid;
    margin-top: 12px;
    background-color: $white;
    @include colorBlack;
    float: right;
    margin-right: 10px;
  }

  &__commentNum {
    @include maxWidth;
  }
}

.commentContent__commentNew {
  width: 418px;
  display: block;
  border: 1px $mercury solid;
  border-radius: 4px;
}

form {
  display: inline-block;
}

label {
  font-size: 12px;
  line-height: 20px;
  @include colorSilver;
}

input {
  margin-bottom: 24px;
  border: 1px $mercury solid;
  border-radius: 4px;
}

::placeholder {
  @include colorBlack;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px $black solid;
  background-color: $white;
}

input:focus::placeholder {
  color: transparent;
}

.commentJava {
  &__section {
    border-top: 1px $mercury solid;
    border-bottom: 1px $mercury solid;
    padding: 24px 0;
    @include maxWidth;
  }

  &__pic {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-top: 0;
    float: left;
  }

  &__name {
    @include colorBlack;
    display: inline-block;
    margin: 0 0 0 16px;
    vertical-align: top;
  }

  &__date {
    @include colorSilver;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;
  }

  &__comment {
    display: block;
    margin: 8px 0 0 64px;
  }
}

#commentJava {
  margin-bottom: 40px;
  @include flexAndWrap;
  justify-content: center;
}

#commentSubmit {
  margin: 0 16px;
}

/* ------- ASIDE SECTION ------ */

.asideSection {
  width: 368px;

  &__div {
    margin: 24px 0 0 16px;
  }

  &__previewPic {
    width: 120px;
    height: 70px;
    float: left;
    margin-right: 12px;
  }

  &__title {
    display: inline;
    vertical-align: top;
    color: $black;
  }

  &__name {
    color: $black;
    margin: 0;
  }

  &__heading {
    margin: 40px 0 40px 16px;
  }
}

.main {
  &__descriptionNum {
    display: inline;
    margin-right: 32px;
  }

  &__descriptionHeader {
    padding: 48px 0 24px 0;
  }

  &__descriptionIcon {
    vertical-align: middle;
    margin: 5px;
  }

  &__descriptionName {
    @include colorBlack;
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }

  &__descriptionDate {
    @include colorSilver;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;
  }

  &__descriptionDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include maxWidth;
  }

  &__videoFullDescription {
    width: 520px;
    color: $black;
  }
}

hr {
  margin: 24px 0;
  border: 0.5px solid $mercury;
}

video {
  object-fit: inherit;
}

#search {
  background-image: url('../Assets/Icons/SVG/Icon-search.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position: 16px;
}

#search:focus {
  background-image: none;
}

#search::placeholder {
  padding-left: 24px;
}

/* ------- IMPORT MEDIA CLASSES ------ */

/* ------- TABLET ------ */
@import 'tablet';

/* ------- MOBILE ------ */
@import 'mobile';
